In [20]:
import pandas as pd

train_data = pd.read_csv("../input/raw_data/train.csv")
test_data = pd.read_csv("../input/raw_data/test.csv")

pd.set_option('display.max_columns', None)

In [22]:
duplicates = pd.merge(
    train_data,
    test_data,
    how="inner",
    on=["annual_income", "debt_to_income_ratio", "credit_score", "loan_amount"],
)

duplicates.head()

Empty DataFrame
Columns: [id_x, annual_income, debt_to_income_ratio, credit_score, loan_amount, interest_rate_x, gender_x, marital_status_x, education_level_x, employment_status_x, loan_purpose_x, grade_subgrade_x, loan_paid_back, id_y, interest_rate_y, gender_y, marital_status_y, education_level_y, employment_status_y, loan_purpose_y, grade_subgrade_y]
Index: []